<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">GeekAssistant</a></strong>
			- GeekAssistant is a chrome extension and a web portal. It helps users track their progress on popular coding websites(geeksforgeeks,codeforces,codechef,leetcode) at a single portal. 
			- Users can bookmark questions, mark their difficulty, add notes, etc. It helps them provide a perfect revision platform for their preparation.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">DTU Farewell 2020</a></strong>
			- 2020 was the first batch of covid lockdown. We did not have any farewell or convocation. I created a portal for students to have profiles, post their parting notes on other's profile, give them a title, post a photo on photowall, etc.
			- We had a userbase of 2000+ on the project. 
		</h5>
    </div>
  </div>
</div>
</section>
