<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">GeekAssistant</a></strong>
			- GeekAssistant is a chrome extension and a web portal. It helps users track their progress on popular coding websites(geeksforgeeks,codeforces,codechef,leetcode) at a single portal.<br> 
			- Users can bookmark questions, mark their difficulty, add notes, etc. It helps them provide a perfect revision platform for their preparation.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">DTU Farewell 2020</a></strong>
			- 2020 was the first batch of covid lockdown. We did not have any farewell or convocation. I created a portal for students to have profiles, post their parting notes on other's profile, give them a title, post a photo on photowall, etc.<br>
			- We had a userbase of 2000+ on the project. 
		</h5>
	    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/ronaksakhuja/Diwali-Personalised-Greetings">Diwali Message Sender</a></strong>
			- Every year at festivals, we love to wish our close ones greetings for the festival. But we often tend to forward the same message to everyone, which loses it's meaning. I wrote this script which sends a whatsapp message to my chosen contacts with their name. Hence they feel it's a personalized message, and the message isn't considered as spam.<br>
			- <a href="https://www.google.com/search?q=diwali+personalized+greetings+ronak+sakhuja&sxsrf=ALeKk00JVQI-KRxt4JSpJ6JMywwrpX070g%3A1621787630796&ei=7oOqYP-NMPaQ4-EP6fCbgAU&oq=diwali+personalized+greetings+ronak+sakhuja&gs_lcp=Cgdnd3Mtd2l6EAMyBwghEAoQoAE6BwgAEEcQsAM6BggAEBYQHjoICCEQFhAdEB46BQghEKABUOUUWOohYNkiaAFwAngAgAG-AYgBwRCSAQQwLjEzmAEAoAEBqgEHZ3dzLXdpesgBCMABAQ&sclient=gws-wiz&ved=0ahUKEwj_vIndneDwAhV2yDgGHWn4BlAQ4dUDCA4&uact=5">Blog link</a>
		</h5>
	    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/ronaksakhuja/Classroom-Emotion-Analysis">Classroom Emotions Analyzer</a></strong>
	    		- We built an Andorid App for Clash Hacks to analyze a classroom of students through a camera, and provide real time analytics to the teacher about the mood of the class. The project was built for offline classes, but can be extended to online classes as well. We used Azure cognitive services for detection of mood.
	    </h5>
    </div>
  </div>
</div>
</section>
