<section id="talks">
    <div class="container">
      <h3>Talks and Videos</h3>
      <div class="panel panel-default">
        <div class="panel-body">
            <h5>
                <i class="fa fa-youtube"></i>&nbsp;&nbsp;<strong><a href="https://www.youtube.com/watch?v=Qm0nhsFBcQ0">Progate On Air | Fast-track your Tech Career with Ronak Sakhuja</a></strong>
            </h5>
            <h5>
                <i class="fa fa-youtube"></i>&nbsp;&nbsp;<strong><a href="https://www.youtube.com/watch?v=FFFFeuoTN9A">Cracking the Coding Interview by Ronak Sakhuja, Software Engineer at Microsoft</a></strong>
            </h5>
            <h5>
                <i class="fa fa-youtube"></i>&nbsp;&nbsp;<strong><a href="https://www.youtube.com/watch?v=7mC9Cg9oW2U">Interview Preparation series Episode 1 | IOSD</a></strong>
            </h5>
            <h5>
                <i class="fa fa-youtube"></i>&nbsp;&nbsp;<strong><a href="https://www.youtube.com/watch?v=Yk8cifFBEJo">Introduction to Machine Learning | IOSD</a></strong>
            </h5>
            <h5>
                <i class="fa fa-youtube"></i>&nbsp;&nbsp;<strong><a href="https://www.youtube.com/watch?v=DAu6kuUiO5w">Application for Microsoft Student Partner Program</a></strong>
            </h5>
        </div>
      </div>
    </div>
    </section>
    